export(metaPrepare)
export(minTrial)
export(nFixed)
export(nRandom)
export(TSA)
export(RTSA)
export(synthesize)
export(boundary)
S3method(plot, RTSA)
importFrom("stats", "qnorm", "qt", "binomial", "coef", "glm", "pchisq", "pnorm", "pt",
               "vcov", "uniroot")
importFrom("graphics", "abline", "lines", "points", "plot")
